<h2>Register</h2>

<p class="error">{{errorMsg}}</p>

<p *ngIf="success">An email has been sent to <strong>{{model.email}}</strong> containing a verification link. Click this link to confirm your account and start making polls!</p>

<form *ngIf="!success" #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field>
            <input matInput placeholder="Email" type="email" required email [(ngModel)]="model.email"
                name="email" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" required [(ngModel)]="model.password" name="password" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Password confirmation" type="password" required [(ngModel)]="model.passwordConfirmation" name="passwordConfirmation" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Name" type="text" required minlength="2" [(ngModel)]="model.name"
                name="name" />
        </mat-form-field>
    </p>
    <p><button mat-raised-button color="primary" type="submit"
        [disabled]="!registerForm.form.valid">Submit</button></p>
</form>
