<h2>Set Up Your Account</h2>

<p class="error">{{errorMsg}}</p>

<form *ngIf="!success" #setupForm="ngForm" (ngSubmit)="onSubmit()" class="narrow">
    <p>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" required [(ngModel)]="model.password" name="password" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Password confirmation" type="password" required [(ngModel)]="model.passwordConfirmation" name="passwordConfirmation" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Name" type="text" required minlength="2" [(ngModel)]="model.name"
                name="name" />
        </mat-form-field>
    </p>
    <p><button mat-raised-button color="accent" type="submit"
        [disabled]="!setupForm.form.valid">Continue</button></p>
</form>
