<header>
  <nav>
    <ul class="header-left">
      <li id="logo"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{title}}</a></li>
      <li *ngIf="isLoggedin"><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
      <li *ngIf="isLoggedin"><a routerLink="/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create</a></li>
      <li *ngIf="isLoggedin"><a routerLink="/friends" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Friends</a></li>
    </ul>
    <ul class="header-right">
      <li *ngIf="!isLoggedin"><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>lock</mat-icon> Login</a></li>
      <li *ngIf="!isLoggedin"><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>person_pin</mat-icon> Register</a></li>
      <li *ngIf="isLoggedin"><a routerLink="/logout" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>exit_to_app</mat-icon> Logout</a></li>
    </ul>
  </nav>
</header>
<div id="angular-logo">
  <img width="100" alt="Angular Logo" src="assets/logo.svg">
</div>  
<main>
  <router-outlet></router-outlet>
</main>

