<h2>Login</h2>
<p class="error">{{errorMsg}}</p>
<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" required email [(ngModel)]="model.email" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="model.password" />
        </mat-form-field>
    </p>
    <p><button mat-raised-button color="primary" type="submit"
        [disabled]="!loginForm.form.valid">Submit</button></p>
</form>
