<h3>Poll Participants:</h3>
<p>
    <em>
        <ng-container *ngFor="let pu of pollUsers; let isLast=last">
            <strong *ngIf="pu.isOwner" matTooltip="Owner">{{pu.user.name}}</strong><ng-container *ngIf="!pu.isOwner">{{pu.user.name}}</ng-container>{{isLast ? '' : ', '}}
        </ng-container>
    </em>
</p>
<ng-container *ngIf="invitableFriends?.length > 0">
    <h3>Invite Friends</h3>
    <ul class="invite-list">
        <li *ngFor="let f of invitableFriends">
            <span><mat-icon>person_pin</mat-icon> {{f.name}}</span>
            <button mat-raised-button matSuffix color="accent" type="button" (click)="invite(f)">Add</button>
        </li>
    </ul>
</ng-container>
